How to use

I want to implement a multi-user L2TP service based on this lib, but I don't know how to use it. Are there any examples I can refer to

<sub>Sent from <a href="https://apps.apple.com/cn/app/id1314212521">PPHub</a></sub>

Hello there,

Sorry for not responding for a week, but I've been dealing with some real life stuff.

I'm afraid I can't offer any good working examples of how to actually create a L2TP client or server. [One of my other projects](https://github.com/nilssonk/rugged) (which was unfortunately put on hold) has some rudimentary code which demonstrates the absolute basics of how to use this library. In general I would refer you to e.g. [section 5 of RFC 2661](https://datatracker.ietf.org/doc/html/rfc2661#section-5.0) as a good introduction to how the protocol is supposed to work. It is also worth bearing in mind that old and widely used protocols like L2TP are bound to have tons of amendments and implementation-defined behavior, so it is not necessarily one-RFC-to-rule-them-all.

Closing due to inactivity. Please reopen if you feel there any questions unanswered.